{% extends "base.html" %}

{% block title %}Expense Tracker{% endblock %}

{% block content %}
<body class="body-main">
    <div class="container">
        <div class="logo">Expenses Flow</div>
        <p class="slogan">
            Platforms where finance experts help you take control of your money by providing personalized budgeting plans that make your expense tracking and savings as efficient as possible.
        </p>
        <div class="download-button">
            <a href="https://play.google.com/store/apps/details?id=com.tools.expense_tracker" target="_blank">Download App</a>
            <img src="{{ url_for('static', filename='images/google-play.png') }}" alt="PlayStore">
        </div>
    </div>

    <div class="app-screenshots-container">
        <img src="{{ url_for('static', filename='images/app-screenshots.png') }}" alt="App Screenshots" class="app-screenshot">
    </div>

    <div class="footer-links">
        <a href="{{ url_for('get_privacy_policy_page') }}" class="privacy-link">Privacy Policy</a>
        <!-- <p class="divider">|</p>
        <a href="{{ url_for('get_contact_page') }}" class="contact">Contact Us</a> -->
    </div>
</body>
{% endblock %}
   